<%- model_class = SmsMessage -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div id="sms_messages"></div>

<script type="text/javascript">
  $(document).ready(function() {
    OnboardiqTestMessages.startApplication({smsMessages: <%= @threads.to_json.html_safe -%>});
  });
</script>